APP_ENV=local

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=

RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=

BASE_URL=

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_BASE_URL=
